
build/
cmake-build-*/
bin/
obj/
out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
main

*.o
*.obj
*.lo
*.gch
*.pch

# Libraries
*.a
*.so
*.so.*
*.dll
*.lib
*.dylib

# Executables
*.exe
*.out
*.app


MNIST_Data/

*.dSYM/
*.stackdump
*.gcno
*.gcda
*.gcov


*.log


.vscode/
.idea/
.VSCodeCounter/

.DS_Store
Thumbs.db


*~
*.swp
*.swo
